/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  font-family:serif,sans-serif;
  margin:20px 35px;
}

/*トップページ*/
.top-text{
  margin:20px 30px;
  line-height:3;
}

.start-button{
  margin-left:30px;
}

/*一覧表示ページ*/
.index-top{
  margin:15px;
}

table{
  margin-bottom:20px;
}

td{
  padding:0 5px 2px 5px;
}

.error-box{
  border:solid 2px red;
  width:50%;
}

.error-head{
  color:white;
  background-color:red;
  padding:5px 10px;
}

.error-message{
  padding:20px 30px;
  background-color:#e8e8e8;
}

/*詳細ページ*/
.show{
  margin:0 20px 20px;
}

/*編集ページ*/
.edit-form{
  margin-bottom:10px;
}

.flash-message{
  color:green;
  margin:20px;
}

